

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


span.label a {
	color:#fff;
}

.well{
	background-color: #FFF;
}

img{
	width:100%;
	height:auto;
}













